@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300,800);

/*@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300);*/

/*@font-face {*/
/*font-family: 'FuturaExtended';*/
/*src: url('../fonts/FuturaExtended.ttf');*/
/*}*/

/*body html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {*/
/*font-family: 'Merriweather Sans';*/
/*font-family: Gotham-Book;*/
/*font-weight: 300;*/
/*}*/

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.otf');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.otf');
}

.hide {
    display: none;
}

@media (max-width: 991px) {
    .container-cloud-left {
        display: none;
    }

    .container-cloud-right {
        display: none;
    }
}

.container-cloud-left {
    padding-right: 2px;
}

.container-cloud-right {
    padding-left: 2px;
}

.cloud-left {
    background-color: #ffdf42;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.cloud-right {
    background-color: #39e678;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.cloud-title {
    color: white;
    text-align: center;
    font-size: 1.2em;
    /*font-weight: bold;*/
    font-family: 'Gotham-Bold';
    padding-top: 9px;
    padding-bottom: 9px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.cloud-title-left {
    background-color: #ef9909;
}

.cloud-title-right {
    background-color: #39a861;
}

.cloud-body {
    font-family: 'Gotham-Bold';
    padding: 10px 8px 5px 8px;
    margin-left: 0px;
    height: 133px;
    font-size: 0.7em;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
}

.cloud-body li {
    background-color: white;
    display: inline-block;
    padding: 4px;
    margin: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.site-header {
    padding-bottom: 20px;
    margin-bottom: 100px;
}

#header-container {
    margin-left: 15px;
    margin-right: 15px;
}

#site-navigation {
    float: right;
    width: 100%;
    background: black;
    height: 80px;
    font-size: 1em;
    margin-right: 5px; /* to make sure it doesn't stick out at the right side of the "authors"-image */
}

.nav-menu {
    float: right;
    margin-top: 55px;
    margin-right: 285px;
    font-family: 'Gotham-Bold';
}

@media (max-width: 991px) {
    .nav-menu {
        margin-right: 30px;
    }
}

.nav-menu li {
    display: inline-block;
    padding-left: 25px;
    float:right;
}

.nav-menu li a {
    color: white !important;
}

.site-branding {
    float: left;
    position: absolute;
    margin-top: 80px;
    margin-left: 20px;
}

#logo {
    margin-top: -40px;
}

.site-branding a {
    float: left;
}

.site-title {
    float: left;
    font-size: 2em;
    /*font-weight: 800;*/
    font-family: 'Gotham-Bold';
    padding-left: 10px;
    margin-top: 20px;
}

.site-title div {
    line-height: 36px;
}

@media (min-width: 1200px) {
    #authors {
        position: absolute;
        height: 200px;
        /*TODO fulhack*/
        margin-top: 0px;
        margin-left: 822px;

    }
}

@media (min-width: 992px) {
    #authors {
        position: absolute;
        height: 200px;
        /*TODO fulhack*/
        margin-top: 0px;
        margin-left: 622px;

    }
}

@media (max-width: 991px) {
    #authors {
        display: none;
    }
}

@media (min-width: 1200px) {
    #authors {
        position: absolute;
        height: 200px;
        /*TODO fulhack*/
        margin-top: 0px;
        margin-left: 822px;

    }
}

/*En lösning för hur headern ska bete sig när skärmen blir riktigt liten: */
@media (max-width: 510px) {
    .site-branding>a {
        width: 111px;
    }

    #logo {
        height: 94px;
        width: 94px;
    }

    .site-branding {
        margin-left: 10px;
    }

    .site-title {
        margin-top: 3px;
        padding-left: 0px;
    }

    .site-title div {
        font-size: 24px;
        line-height: 24px;
    }

    .nav-menu {
        margin-top: 10px;
    }

    .nav-menu li {
        display: block;
        float:none;
    }

    .site-header {
        margin-bottom: 55px;
    }
}

.wpp-list {
    font-size: 0.8em;
    padding-top: 5px;
    margin-left: 15px;
}

/* To hide the stupid comment-row from the "popular post"-plugin */
.wpp-comments {
    display: none;
}

/* Override the stupid "popular post"-plugins css */
.wpp-list li {
    display: list-item !important;
    overflow: visible !important;
}

.sidebar-body {
    font-size: 0.8em;
    padding-top: 5px;
    margin-left: 15px;

}

.sidebar-title {
    font-size: 0.75em;
    font-family: 'Gotham-Bold';
}

@media (min-width: 992px) {
    /*adjust so sidebars are thinner:*/
    .sidebar {
        width: 19.5%;
    }

    .site-main {
        width: 61%;
        padding-top: 12px;
        padding-left: 27px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*adjust so sidebars are thinner:*/
    .sidebar {
        width: 183px;
    }

    .site-main {
        width: 537px;
        padding-top: 12px;
        padding-left: 27px;
    }
}

#sidebar-left {
    margin-top: -5px;
    padding-right: 0px;
}

#sidebar-left .widget {
    background-color: #bfbfbf;
}

#sidebar-right {
    padding-left: 30px;
}

#sidebar-right .widget {
    /*background: rgba(0, 0, 0, 0);*/
    background-color: #bfbfbf;
}

.widget {
    padding: 12px 5px 2px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px !important;
}

.post {
    margin-bottom: 40px !important;
}

.entry-title {
    font-family: 'Gotham-Light';
    font-size: 2.75em;
    padding-top: 6px;
}

.entry-content {
    font-family: 'Gotham-Light';
    font-size: 1em;
    margin-top: 10px !important;
}

/* För att placera headern längst med taggarna som inte är indenterade */
.page-header {
    margin-left: -10px;
}

div.entry-meta {
    margin-top: -5px;
    margin-left: -10px;
}

/*to move the comment-line closer to the text: */
footer.entry-meta {
    margin-top: -5px;
}

.category-item {
    display: inline-block;
    font-family: 'Gotham-Bold';
    font-size: 0.7em;
    background-color: #ef9909;
    color: white !important;
    padding: 6px 8px 0px 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 2px;
    height: 28px;
}

.category-item a {
    color: white !important;
}

.posted-on {
    display: inline-block;
    font-family: 'Gotham-Bold';
    font-size: 0.7em;
    background-color: #2ac6c7;
    padding: 6px 8px 0px 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 2px;
    height: 28px;
}

.posted-on a {
    color: white !important;
}

.tag-item {
    display: inline-block;
    font-family: 'Gotham-Bold';
    font-size: 0.7em;
    background-color: #ef9909;
    color: white !important;
    padding: 6px 8px 0px 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 5px;
    height: 28px;
    margin-bottom: 7px;
}

.tag-item a {
    color: white !important;
}

#vinnova {
    width: 50px !important:
    float:left;
}