body {
    /*font-size: 160% !important;*/
}

@font-face {
    font-family: 'FuturaExtended';
    src: url('../fonts/FuturaExtended.ttf');
}

.cloud-title {
}

.cloud-title-yellow {
    background-color: gold;
}

.cloud-title-green {
    background-color: green;
}

.cloud-body {
    padding: 10px;
    margin-left: 0px;
    height: 200px;
}

.cloud-body li {
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.cloud-body-yellow {
    background-color: yellow;
}

.cloud-body-green {
    background-color: lightgreen;
}

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-title {
    float: left;
}

#site-navigation {
    float: left;
}

.tag-list {

}

.tag-list-item {
    display: inline;
    padding-left: 10px;
}

.tag-list-item a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    color: deepskyblue !important;
}

.tag-list-separator {
    border-left: solid #000000 1px;
    height: 100%;
    display: inline;
    margin-left: 10px;
}

#phone-title {
    /*TODO ta bort*/
    font-family: 'FuturaExtended', Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.8em;
    line-height: 1.2;
    color: white;
    text-align: center;
    padding-top: 125px;
    padding-left: 12px;
}

.sidebar-list {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-left: 20px;
}

/*.sidebar-list a {*/
/*margin-left: 0px;*/
/*}*/

.sidebar-title {
    /*TODO ersätt font med sg cheltenham old style*/
    font-family: serif;
    font-size: 1em;
    font-weight: bold;
}

#sidebar-left {
    background-color: yellow;
}

#sidebar-right {
    background-color: lightgreen;
}

.entry-title {
    /*TODO ersätt font med sg cheltenham old style*/
    font-family: serif;
    font-size: 2.6em;
    font-weight: bold;
    /*font-style: italic;*/
}

.entry-content {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.2em;
}

.category {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    background-color: orange;
    padding: 2px 5px 2px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.category a {
    color: white !important;
}

.posted-on {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    background-color: deepskyblue;
    padding: 2px 5px 2px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 5px;
}

.posted-on a {
    color: white !important;
}

.tag {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    background-color: orange;
    padding: 2px 5px 2px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.tag a {
    color: white !important;
}